<div style="padding: 3%;">
  <h1>{{ title }}</h1>
  
  <!-- Filter Input -->
  <mat-form-field class="filter-input">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Enter filter value">
  </mat-form-field>
  
  <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let user">{{ user.name }}</mat-cell>
    </ng-container>
  
    <!-- Age Column -->
    <ng-container matColumnDef="age">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Age</mat-header-cell>
      <mat-cell *matCellDef="let user">{{ user.age }}</mat-cell>
    </ng-container>
  
    <!-- City Column -->
    <ng-container matColumnDef="city">
      <mat-header-cell *matHeaderCellDef mat-sort-header>City</mat-header-cell>
      <mat-cell *matCellDef="let user">{{ user.city }}</mat-cell>
    </ng-container>
  
    <!-- Table Header Row -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  
    <!-- Table Row -->
    <mat-row *matRowDef="let user; columns: displayedColumns;"></mat-row>
  
  </mat-table>
</div>
  
